@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.todoholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    background: #222222;
    color: white;
    margin: auto;
}

.todoholder h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.atask {
    padding: 7px;
    font-size: 1.15em;

}

.formcontain {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    min-width: 400px;
    padding: 5px 9px;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    margin: 10px;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 7px;
    padding: 5px;
}